.container {
  position: relative;
  cursor: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  border: 2px solid black;
}

.cursorCanvas {
  position: fixed;
  pointer-events: none;
}